**pycache**/
_.py[cod]
_$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
_.log
_.cover
.cache
.tox/
.pytest_cache/
_.egg-info/
.eggs/
dist/
build/
wheels/
_.egg
.ipynb_checkpoints
db.sqlite3
db.sqlite3-journal
_.spec
_.manifest
volumes/
pdf_files/
Dockerfile
.dockerignore
.git/
