# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Unit test / coverage reports
.coverage
*.cover
.cache
.tox/
.pytest_cache/

# Distribution / packaging
*.egg-info/
.eggs/
dist/
build/
wheels/
*.egg

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Local databases
db.sqlite3
db.sqlite3-journal

# Python project files
*.spec
*.manifest

# Ignore volumes and other docker-related directories
volumes/
pdf_files/

# Ignore Dockerfile and .dockerignore
Dockerfile
.dockerignore

# Git files
.git/
