pandas
qdrant-client
gtts
streamlit
python-dotenv
openai
transformers
torch
langchain
langchain-openai
langchain-core
langchain-qdrant
sounddevice
scipy
streamlit-webrtc
git+https://github.com/openai/whisper.git