numpy==1.26.4
qdrant-client==1.11.3
torch  # Hugging Face dependency
transformers  # Hugging Face dependency
streamlit  
gtts
autogen
pypdf
python-dotenv
scikit-learn
langchain
langchain-community
huggingface-hub  # Needed for Hugging Face models
sentence-transformers
flaml[automl]
tenacity